<form>
  <br/>
  <div class="form-group row">
    <label for="txtlUsuario" class="col-sm-1 col-form-label">Usuario:</label>
    <div class="col-sm-5">
      <input type="usuario" class="form-control" name="txtUsuario" id="txtUsuario" 
      placeholder="Introduce el nombre del usuario" [(ngModel)]="usuario.nombre">    
    </div>
  </div>
  <input type="button" name="btnLogin" class="btn btn-secondary" data-toggle="tooltip" 
    data-placement="bottom" title="Acceder al Chat"
   value="Acceder" (click) = "getSala()"  /> 
</form>